<div ng-include="'partials/navbar.html'"></div>

<div id="adminBG">

	<div layout="row" flex layout-align="center">
		<h2 class="titleMargin">{{teamName}}</h3>
	</div>

	<div id="groupDiv" layout="column" flex="40" flex-offset="30">
		<div layout="row" flex layout-align="center">
			<h3 class="titleMargin">Groups:</h3>
		</div>

		<div layout="row" flex flex-offset="10" layout-align="center" ng-repeat="group in groups">
			<div flex="30">
				<p class="groupList">{{group.group_name}}</p>
			</div>
			<div flex="60">
				<p class="groupList">{{group.description}}</p>
			</div>
			<div flex="10">
		  	<i ng-click="groupEdit(group.id)" class="material-icons editIcon">edit</i>
		  </div>
			<div flex>
			  <i ng-click="deleteGroup(group.id)" class="material-icons removeIcon">remove_circle_outline</i>
			</div>
		</div>

		<div ng-show="showMsg" layout="row" flex layout-align="center">
			<h4 class="errorMsg">{{msg}}</h4>
		</div>

		<div ng-show="showEditGroupModal" class="editGroupModal">
			<div layout="row" flex="100">
				<p class="modalTitle">edit name and/or description:</p>
			</div>
			<div layout="row" flex layout-align="center">
				<md-input-container flex="35" class="groupInput">
					<input name="editGroup_name" type="text" ng-model="editGroup.group_name" class="validate">
				</md-input-container>
				<md-input-container flex="65" class="groupInput">
					<input name="editGroup_desc" type="text" ng-model="editGroup.description" class="validate">
				</md-input-container>
			</div>
			<div layout="row" flex layout-align="center">
				<md-button class="md-raised" ng-click="saveEditedGroup()">save change(s)</md-button>
				<md-button class="md-raised" ng-click="cancelEditGroup()">cancel</md-button>
			</div>


		</div>

		<div layout="row" flex>
			<h5 class="addNew">Create new group:</h5>
		</div>
		<div layout="row" flex layout-align="center">
			<md-input-container flex="35" class="groupInput">
				<label>Group Name</label>
				<input name="newGroup_name" type="text" ng-model="newGroup_name" class="validate">
			</md-input-container>
			<md-input-container flex="65" class="groupInput">
				<label>Group Description</label>
				<input name="newGroup_desc" type="text" ng-model="newGroup_desc" class="validate">
			</md-input-container>
		</div>
		<div layout="row" flex layout-align="center">
			<md-button class="md-raised" ng-click="addGroup()">add group</md-button>
		</div>

	</div>

	<div layout="row" flex="90" flex-offset="5" flex-gt-sm="60" flex-offset-gt-sm="20">
		<div flex class="dividerDiv">
		</div>
	</div>

	<div id="athletesDiv" layout="column" flex="80" flex-offset="10">
		<div layout="row" flex layout-align="center">
			<h3 class="titleMargin">Athletes: </h3>
		</div>
		<div layout="row" flex flex-offset="10">
			<div class="athleteTitles displayName" flex="15">
				display name
			</div>
			<div class="athleteTitles" flex="15">
				first name
			</div>
			<div class="athleteTitles" flex="15">
				last name
			</div>
			<div class="athleteTitles" flex="5">
				age
			</div>
			<div class="athleteTitles" flex="10">
				group
			</div>
			<div class="athleteTitles" flex="10">
				swim pace
			</div>
			<div class="athleteTitles" flex="10">
				bike pace
			</div>
			<div class="athleteTitles" flex="10">
				run pace
			</div>
		</div>

		<div layout="row" flex layout-align="center" ng-repeat="athlete in athletes">
			<div id="athleteListRow" layout="row" flex flex-offset="10" layout-align="left center">
				<div flex="15">
				  <p class="displayName">{{athlete.display_name}}</p>
			  </div>
				<div flex="15">
					<p>{{athlete.first_name}}</p>
				</div>
				<div flex="15">
					<p>{{athlete.last_name}}</p>
				</div>
				<div flex="5">
				  <p>{{athlete.age}}</p>
			  </div>
				<div flex="10">
				  <p>{{athlete.group_name}}</p>
			  </div>
				<div flex="10">
				  <p>{{athlete.swim_pace}}</p>
			  </div>
				<div flex="10">
				  <p>{{athlete.bike_pace}}</p>
			  </div>
				<div flex="10">
				  <p>{{athlete.run_pace}}</p>
			  </div>
			  <div flex>
			  	<i ng-click="editAthlete(athlete.id)" class="material-icons editIcon">edit</i>
			  </div>
			</div>
		</div>

		<div layout="row" flex flex-offset="10">
			<h5 class="addNew">Add new athlete:</h5>
		</div>
		<div layout="row" flex flex-offset="10">
			<md-input-container flex="15" class="groupInput">
				<label>Display Name</label>
				<input name="newGroup_desc" type="text" ng-model="newAthlete_display_name" class="validate">
			</md-input-container>
			<md-input-container flex="15" class="groupInput">
				<label>First Name</label>
				<input name="newGroup_name" type="text" ng-model="newAthlete_first_name" class="validate">
			</md-input-container>
			<md-input-container flex="15" class="groupInput">
				<label>Last Name</label>
				<input name="newGroup_desc" type="text" ng-model="newAthlete_last_name" class="validate">
			</md-input-container>
			<md-input-container flex="5" class="groupInput">
				<label>Age</label>
				<input name="newGroup_desc" type="number" ng-model="newAthlete_age" class="validate">
			</md-input-container>
			<md-input-container flex="10" class="groupInput">
			  <label>Group</label>
			  <md-select id="groupSelect" ng-model="group_id">
			    <md-option ng-value="group.id" ng-repeat="group in groups">{{ group.group_name }}</md-option>
			  </md-select>
			</md-input-container>
			<md-input-container flex="10" class="groupInput">
				<label>Swim Pace</label>
				<input name="newGroup_desc" type="text" ng-model="newAthlete_swim_pace" class="validate" placeholder="mm:ss">
			</md-input-container>
			<md-input-container flex="10" class="groupInput">
				<label>Bike Pace</label>
				<input name="newGroup_desc" type="text" ng-model="newAthlete_bike_pace" class="validate" placeholder="mph">
			</md-input-container>
			<md-input-container flex="10" class="groupInput">
				<label>Run Pace</label>
				<input name="newGroup_desc" type="text" ng-model="newAthlete_run_pace" class="validate" placeholder="mm:ss">
			</md-input-container>
		</div>

		<div ng-hide="showMsg" layout="row" flex="100" layout-align="center">
			<md-button class="md-raised" ng-click="addAthlete()">add athlete</md-button>
		</div>
		<div ng-show="showMsg" layout="row" flex="100" layout-align="center">
			<h4 class="errorMsg">{{msg}}</h4>
		</div>
	</div>

</div>
