<div ng-include="'partials/navbar.html'"></div>

<div id="athletesSelectBG">

	<div ng-hide="groupsSelected">
		<div layout="row" flex layout-align="center">
			<h3 class="setupTitle">Select Group(s)</h3>
		</div>
		<div id="groupCheckboxes">
			<div ng-repeat="group in allGroups" layout="row" flex flex-offset="35" >
				<md-checkbox ng-click="toggle(group, selectedGroups)">{{ group.group_name }}</md-checkbox>
			</div>
		</div>
		<div layout="row" layout-align="center" id="selectGroupsBtnDiv">
			<md-button class="md-raised" ng-click="selectGroups()">Select Athletes</md-button>
		</div>
	</div>

	<div ng-show="groupsSelected">
		<div id="selectedAthletesContainer">
			<div ng-repeat="athlete in selectedAthletes" layout="column" flex layout-align="center">
				<div layout="row" flex flex-offset="15" layout-align="left center">
					<div flex="75" class="selAthleteName">
						{{athlete.display_name}}
					</div>
					<div flex>
					  <i ng-click="deselectAthlete(athlete, selectedAthletes)" class="material-icons removeIcon">highlight_off</i>
					</div>
				</div>
				<div layout="row" flex flex-offset="15" layout-align="left center">
					<div flex="80" class="sepLine">
					</div>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="center" id="saveAthletesBtnDiv">
			<md-button class="md-raised" ng-click="saveSelectedAthletes()">Start Timer</md-button>
		</div>
	</div>

</div>
