<div ng-include="'partials/navbar.html'"></div>

<div layout="row" flex layout-align="center">
	<h3>Coach {{coach}}</h3>
</div>

<div layout="row" flex layout-align="center">
	<md-button class="md-raised" href="#/workoutsetup">start new workout</md-button>
</div>
<div layout="row" flex layout-align="center">
	<md-button class="md-raised" href="#/workoutselect">view workouts</md-button>
</div>
<div layout="row" flex layout-align="center">
	<md-button class="md-raised" href="#/admin">admin</md-button>
</div>



