<div id="navBar" ng-controller="navCtrl">

	<div layout="row" layout-align="center">
		<div>
			<md-button ng-href="#/coach">Coach {{coachName}}</md-button>
		</div>
		<div>
			<md-button ng-click="logout()">Logout</md-button>
		</div>

	</div>







	<!-- <md-nav-bar > -->
		<!-- <a ng-href="#!" class="brand-logo">Team Timer</a> -->
		<!-- <md-nav-item ng-href="#/coach">Coach {{coachName}}</md-nav-item> -->

		<!-- <md-nav-item ng-click="logout()">Logout</md-nav-item> -->
	<!-- 		<ul>
			<li><a ng-href="#/coach">Coach {{coachName}}</a></li>
			<li><a ng-click="logout()">Logout</a></li>

		</ul> -->

	<!-- </md-nav-bar> -->

</div>
