<div ng-include="'partials/navbar.html'"></div>

<div id="timerBG">

	<div id="topTimingBar" layout="row" flex="90" flex-offset="5">
		<div flex="20" id="startBtn" ng-click="start()" ng-show="!timerOn" class="topBarSmallDivs">
			<i class="material-icons topIcons">timer</i>
		</div>
		<div flex="20" id="stopBtn" ng-click="cancel()" ng-show="timerOn" class="topBarSmallDivs">
			<i class="material-icons topIcons">cancel</i>
		</div>

		<div flex id="mainReadoutDiv">
			<span id="mainReadout" class="topBarText">0:00.</span><span id="mainReadoutMs">00</span>
		</div>

		<div id="totalLapsDiv" flex="20" class="topBarSmallDivs">
			<h1 id="totalLaps" class="topBarText">0</h1>
		</div>
	</div>

	<div id="athleteBtn{{athlete.index}}" class="athleteBtn" ng-repeat="athlete in athleteArray" layout="row" flex="90" flex-offset="5" ng-click="recordLap(athlete.index)">
		<div flex="20" class="currentLapNumDiv">
				<h1>{{athlete.lap}}</h1>
		</div>
		<div flex class="athleteNameDiv">
			<p>{{athlete.display_name}}</p>
		</div>
		<div flex="40" layout="column">
			<div flex class="lapTimeDiv">
				<span class="currentLapTime">{{athlete.readout}}.</span><span class="currentLapTimeMs">{{athlete.readoutMs}}</span>
			</div>
			<div flex class="lastLapPaceDiv">
				<span class="lastLapPace">{{athlete.lastLapPaceMain}}</span><span class="lastLapPaceDec">{{athlete.lastLapPaceDec}}</span><span class="lastLapPaceMetric">{{paceMetricLabel}}</span> <span id="paceDiffSpan--{{athlete.index}}"><span class="lapPaceDiff">{{athlete.paceArrow}}{{athlete.paceDiffMain}}</span><span class="lapPaceDiffDec">{{athlete.paceDiffDec}}</span></span>
			</div>
		</div>
	</div>

</div>
