<div ng-include="'partials/navbar.html'"></div>

<div class="gradientBG">

	<!-- *************** top timing bar -->
	<div layout="row" flex="90" flex-offset="5" id="topTimingBar">

		<div flex="20" id="startBtn" ng-click="start()" ng-show="!timerOn" class="topBarSmallDivs">
			<i class="material-icons topIcons">timer</i>
		</div>
			<div flex="20" id="stopBtn" ng-click="cancel()" ng-show="timerOn" class="topBarSmallDivs">
				<i class="material-icons topIcons">cancel</i>
			</div>

			<div flex id="mainReadoutDiv">
				<h1 id="mainReadout" class="topBarText">0:00.00</h1>
			</div>

			<div flex="20" id="totalLapsDiv" class="topBarSmallDivs">
				<h1 id="totalLaps" class="topBarText">0</h1>
			</div>
		</div>


		<!-- *************** athlete buttons -->
		<div layout="row" flex="90" flex-offset="5" ng-repeat="athlete in athleteArray">
			<div layout="row" flex class="athleteBtn" ng-click="recordLap(athlete.index)">

				<div flex="20" class="currentLapNumDiv">
						<h1>{{athlete.lap}}</h1>
				</div>

				<div flex class="athleteNameDiv">
					<p>{{athlete.display_name}}</p>
				</div>

				<div flex="35">
					<div layout="column">
						<div flex>
							<p class="currentLapTime">{{athlete.readout}}</p>
						</div>
						<div flex>
							<p class="lastLapTime">last lap: {{athlete.lastLapTime}}</p>
						</div>
					</div>
				</div>

			</div>
		</div>


</div>
