<h3>Test Timer 01</h3>

<h2 id="readout">00:00.00</h2>

<div>
	<button id="startBtn" ng-click="start()">start</button>
	<button id="stopBtn" ng-click="stop()">stop</button>
	<button id="resetBtn" ng-click="reset()">reset</button>
</div>

<div id="athlete1">
	<button id="lapBtn1" ng-click="recordLap(lapArray1)">lap 1</button>
</div>

<div id="athlete2">
	<button id="lapBtn2" ng-click="recordLap(lapArray2)">lap 2</button>
</div>

<div class="container">
	<div class="row">

		<div id="lapTimes1" class="col s6">
			<div ng-repeat="lap in lapArray1">
				<h3>Athlete 1: {{lap}}</h3>
			</div>
		</div>

		<div id="lapTimes2" class="col s6">
			<div ng-repeat="lap in lapArray2">
				<h3>Athlete 2: {{lap}}</h3>
			</div>
		</div>

	</div>

</div>








