<div ng-include="'partials/navbar.html'"></div>

<h4>WorkoutView Page</h4>

<div layout="row" flex>
	<div layout="col" flex="20">
		<h5>{{totalLaps}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{lap_distance}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{lap_metric}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{discipline}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{displayDate}}</h5>
	</div>

</div>

<div layout="row" flex layout-align="center">
	<h5>{{displayName}}</h5>
</div>

<div layout="row" flex layout-align="center" ng-repeat="time in displayTimes">
	<h5>{{time.lapNum}}</h5>
	<h6>{{time.lapTime}}</h6>
</div>
<div layout="row" flex layout-align="center">
	<h5>{{calcTimes.totalTime}} total / {{calcTimes.avgTime}} avg</h5>
</div>

<div layout="row" flex layout-align="center">
	<md-button ng-hide="firstAthlete" class="md-raised" ng-click="prevAthlete()">previous</md-button>
	<md-button ng-hide="lastAthlete" class="md-raised" ng-click="nextAthlete()">next</md-button>

</div>

