<div ng-include="'partials/navbar.html'"></div>

<div class="gradientBG">

	<!-- ***********top workout bar -->
	<div layout="row" flex="90" flex-offset="5" id="topWorkoutBar">
		<div flex="15" id="lapsTotal" class="topBarSmallDivs">
			<h1 class="topBarText">{{totalLaps}}</h1>
		</div>
		<div flex id="lapDistance">
			<h5 id="distText">{{lap_distance}}{{metricAbrv}}</h5>
		</div>
		<div flex="10">
			<i class="material-icons discIcon">{{discIcon}}</i>
		</div>
		<div flex="35">
			<p class="workoutViewDate">{{displayDate}}</p>
		</div>
	</div>

	<!-- ************ athlete name -->
	<div layout="row" flex="90" flex-offset="5" id="nameBar">
		<div flex="25" ng-hide="firstAthlete" ng-click="prevAthlete()" class="athleteNavDiv">
			<!-- <h1 class="nameBarText"><</h1> -->
			<img src="./img/prevAthlete_button.png" alt="previous athlete" class="athleteNavBtn">
		</div>
		<div flex="25" ng-show="firstAthlete" class="athleteNavDiv">
			<!-- <h1 class="nameBarText">|</h1> -->
			<img src="./img/blank_button.png" class="athleteNavBtn">
		</div>
		<div flex="50">
			<h1 class="nameBarText">{{displayName}}</h1>
		</div>
		<div flex="25" ng-hide="lastAthlete" ng-click="nextAthlete()" class="athleteNavDiv">
			<!-- <h1 class="nameBarText">></h1> -->
			<img src="img/nextAthlete_button.png" alt="next athlete" class="athleteNavBtn">
		</div>
		<div flex="25" ng-show="lastAthlete" class="athleteNavDiv">
			<!-- <h1 class="nameBarText">|</h1> -->
			<img src="img/blank_button.png" class="athleteNavBtn">
		</div>
	</div>

	<!-- *************  lap sections -->
	<div layout="row" flex="80" flex-offset="10" ng-repeat="time in displayTimes" class="lapSection">
		<div flex>
			<p class="lapNum">Lap {{time.lapNum}}</p>
		</div>
		<div flex>
			<p class="lapTime">{{time.lapTime}}</p>
		</div>
	</div>
	<div layout="row" flex="80" flex-offset="10" class="lapSection">
		<div flex>
			<p class="lapSummary">{{calcTimes.totalTime}} total / {{calcTimes.avgTime}} avg</p>
		</div>
	</div>

</div>
