<h4>WorkoutView Page</h4>

<div layout="row" flex>
	<div layout="col" flex="20">
		<h5>{{totalLaps}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{lap_distance}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{lap_metric}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{discipline}}</h5>
	</div>
	<div layout="col" flex="20">
		<h5>{{displayDate}}</h5>
	</div>

</div>

<div layout="row" flex layout-align="center">
	<h5>{{displayName}}</h5>
</div>

<div layout="row" flex layout-align="center" ng-repeat="time in displayTimes">
	<h5>lap #</h5>
	<h6>{{time}}</h6>

</div>

