h3.titleMargin {
	margin: 5px auto;
}
.errorMsg {
	color: red;
	font-style: italic;
	text-align: center;
}

.adminMargin p {
	margin: 5px auto;
	padding: 0 1rem;
}

h5.addNew {
	margin: 5px auto;
}

.athleteList {
	margin: 5px 10px;
}
