@import 'vars';

#loginBG {
	min-height: calc(100vh);
  background: url(../img/homeBG.png);
  background-size: cover;
  background-position: center;
}

#loginTitle {
	h2 {
		margin: 20px 0 0 0;
	}
	h4 {
		margin: 10px 0 0 0;
	}
}

.noBtmMargin {
	margin-bottom: 0;
}

.inputDiv {
	margin: 0;
}

.dividerDiv {
	margin: 10px 0;
	border-top: 1px solid $divider-color;
}

.teamBtnDiv {
	margin-bottom: 10px;
}

.instructText {
	font-size: .8rem;
	font-style: italic;
}

.teamName {
	margin: 0 0 10px 0;
}
