#timerBG {
	min-height: calc(100vh - 77px);
	padding: 20px 0 5px 0;
  background: linear-gradient(rgb(255,238,56), rgb(233,67,57));
}

#topTimingBar {
	background-color: #000;
	border-radius: 5px;
	margin-bottom: 20px;
}

#mainReadoutDiv {
	background-color: #000;
	color: #fff;
	margin: 5px;
	text-align: center;
}

.topBarSmallDivs {
	margin: 5px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}

.topBarText {
	margin: 0;
	font-size: 2.5rem;
	font-weight: 500;
}

#mainReadoutMs {
	font-weight: 500;
	font-size: 2rem;
}

.topIcons {
	margin-top: 6px;
	font-size: 2.5rem
}

#startBtn {
	background-color: rgb(55,179,74);
}

.icon {
	color: #fff;
}

#stopBtn {
	background-color: red;
}

#totalLapsDiv {
	background-color: rgb(0,173,238);
}

.athleteBtn {
	margin: 3px auto;
	background-color: #fff;
	border-radius: 5px;
}

.currentLapNumDiv {
	background-color: rgb(55,179,74);
	border-radius: 5px;
	color: #fff;
	text-align: center;
}

.currentLapNumDiv h1 {
	margin: 7px 0;
	font-size: 2.5rem;
}

.athleteNameDiv p {
	margin: 17px 0 0 0;
	padding-left: .5rem;
	font-size: 1.3rem;
}

.lapTimeDiv {
	text-align: right;
	margin: 5px 0 5px 0;
}

.currentLapTime {
	font-size: 1.6rem;
}

.currentLapTimeMs {
	font-size: 1.2rem;
	padding-right: .5rem;
}


.lastLapTimeDiv {
	text-align: right;
	margin: 5px 0 0 0;
}

.lastLapTime {
	font-size: .9rem;
}

.lastLapTimeMs {
	padding-right: .5rem;
	font-size: .7rem;
}
