#workoutSetupBG {
	min-height: calc(100vh - 62px);
	padding-bottom: 10px;
  background: linear-gradient(rgb(255,238,56), rgb(233,67,57));
}

#workoutSetupTitle {
	margin-bottom: 10px;
}

.lapMetric {
	margin-top: 0;
	font-style: italic;
}

#selectAthletesBtnDiv {
	padding-top: 20px;
}

