#workoutSelectBG {
	min-height: calc(100vh - 62px);
	padding-bottom: 10px;
  background: linear-gradient(rgb(255,238,56), rgb(233,67,57));
}

.workoutSection {
	margin: 3px auto;
	background-color: #fff;
	border-radius: 5px;
}

.selectDate {
	margin: 5px 0;
	padding-left: .7rem
}

.selectGroup {
	margin: 5px 0;
	text-align: center;
}

.selectDiscDiv {
	text-align: right;
}

.selectDiscIcon {
	margin: 5px 0;
	font-size: 1.25rem;
	padding-right: .7rem
}

.selectDesc {
	margin: 5px 0;
}

